@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Title of the document</title>
</head>

<body>

    <h1>Home page</h1>
    <h2>@DateTime.Now.ToString("dd-mm-yyyy")</h2>
    <br>
    <h2>@(4+5)</h2><br><br>

    <h2>multiline</h2><br>
    @{
        int a = 10, b = 20, c = a + b;
    }

    <h2>@c</h2><br>

    <h2>email is ishara@gmail.com</h2><br>

    <h2>facebook - @@ishara</h2><br>




</body>

</html>
