@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Title of the document</title>
</head>

<body>
    Contact page

    @{
        int a = 10;
    }


    @if (a > 19)
    {
        a++;
        <h1>A = @a</h1>
    }
    else
    {
        a--;
        <h1>A = @a</h1>
    }



</body>

</html>

